html {
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

:root {
    font-family: sans-serif;
}

header {
    background-color: blue;
    color: white;
}

h1 {
    margin: 0px 0px 10px 0px;
    text-align: center;
    line-height: 2;
}

main {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
}

#today-and-future {
    width: 70%;
    display: block;
    float: right;
}

#search-and-history {
    width: 30%;
    display: block;
    float: left;
}

#result {
    color: black;
    border: 1px solid black;
    padding: 5px;
}

li {
    list-style-type: none;
    line-height: 2;
}

button {
    font-size: 20px;
}

